<div class="tracking">
  <ng-container *ngFor="let item of trackingBiometria">
    <div
      class="container"
      [ngClass]="adicionaAlturaPadrao(item.mostrarConteudo)"
    >
      <div class="etapas">
        <div
          class="bullet"
          [ngClass]="alteraEstadoTracking(item.etapa.bullet)"
        ></div>
        <ng-container *ngIf="item.mostrarTracejado">
          <div
            class="line"
            [ngClass]="alteraEstadoTracking(item.etapa.linha)"
          ></div>
        </ng-container>
      </div>
      <div class="etapa-atual">
        <p>{{ item.titulo }}</p>
        <ng-container *ngIf="item.mostrarConteudo">
          <p>teste</p>
          <p>teste</p>
          <p>teste</p>
          <p>teste</p>
          <p>teste</p>
          <p>teste</p>
          <p>teste</p>
          <p>teste</p>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
