<div class="tracking">
  <ng-container *ngFor="let item of trackingBiometria">
    <div
      class="container"
      [ngClass]="adicionaAlturaPadrao(item.mostraConteudoVariavel)"
    >
      <div class="etapas">
        <div
          class="bullet"
          [ngClass]="alteraEstadoTracking(item.etapas.bullet)"
        ></div>
        <ng-container *ngIf="item.mostrarTracejado">
          <div
            class="line"
            [ngClass]="alteraEstadoTracking(item.etapas.linha)"
          ></div>
        </ng-container>
      </div>
      <div class="etapa-atual">
        <app-conteudo-etapa
          [titulo]="item.titulo"
          [subtitulo]="item.subtitulo"
          [etapaAtiva]="encontraEtapaAtiva()"
          [mostraConteudoVariavel]="item.mostraConteudoVariavel"
        ></app-conteudo-etapa>
      </div>
    </div>
  </ng-container>
</div>
