<div class="conteudo-etapa">
  <h1>{{ titulo }}</h1>

  <ng-container *ngIf="mostraConteudoVariavel">
    <div class="conteudo-adicional">
      <h2>{{ subtitulo }}</h2>
      <app-dados-usuario
        [etapaAtiva]="etapaAtiva"
        [codigoValidacao]="codigoValidacao"
        (enviaCodigoValidacao)="recebeCodigoValidacao()"
      ></app-dados-usuario>

      <app-etapa-atual
        [etapaAtiva]="etapaAtiva"
        [codigoValidacao]="codigoValidacao"
        (enviaConfirmacaoCodigo)="recebeConfirmacaoCodigo()"
      ></app-etapa-atual>
    </div>
  </ng-container>
</div>
